/* Main */
.main {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.main_inner {
    width: 100%;
    margin: 55px auto 0px auto;
    display: flex;
    flex-direction: row;
}

.main_info {
    width: 740px;
    margin: 70px 30px 0px 100px;
}

.main_header {
    position: relative;
    color: #8ABD6E;
    font-size: 48px;
    z-index: -1;
}

.main_header:after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;

    background-color: #56855B;

    left: 0;

    margin-top: 35px;
}

.main_text {
    font-size: 32px;
    margin-top: 35px;
}

.worker {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lamp {
    display: block;
    transition: transform 1.5s;
    margin-bottom: 20px;
}

.lamp:hover {
    transform: scale(1.2);
}


/* Form */
form * {
    outline: none;
}

.form {
    width: 40%;
    padding: 25px;
    border: #56855B solid 3px;
    background-color: #061319;
}

.form_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form_header {
    color: #8ABD6E;
    font-size: 36px;
    text-align: center;
}

.form_label {
    display: block; 
    font-size: 28px;
    color: #DFF8CE;
    margin: 0px 0px 5px 0px;
}

.form_input {
    width: 100%;
    min-height: 28px;
    border: #679966 solid 2px;
    background-color: #071820;
    color: #dff8ced1;
    padding: 5px 10px;
    font-size: 22px;

    transition: border .5s;
}

textarea.form_input {
    resize: vertical;
    margin-bottom: 10px;
    max-height: 180px;
}

.form_input:focus {
    border: #8ABD6E solid 2px;
}


/* Popup */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;

    transition: opacity .5s ease; 
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    max-width: 1550px;
    margin: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_close {
    position: absolute;
}




/* Buttons */
.last_works_button {
    margin: 55px 100px 55px 100px;
}


@media (max-width: 1220px) {

    /* Main */
    .main_info {
        width: 500px;
        margin: 70px 10px 0px 60px;
    }

    .last_works_button {
        margin: 35px 100px 35px 60px;
    }
}

@media (max-width: 1000px) {

    /* Main */
    .main_info {
        width: 400px;
    }

    .main_header {
        font-size: 32px;
    }

    .main_header:after {
        margin-top: 25px;
    }

    .main_text {
        font-size: 24px;
        margin-top: 25px;
    }

    .worker .man {
        width: 265px;
    }

    .worker .lamp {
        width: 60px;
    }

    .last_works_button {
        margin: 35px 100px 35px 60px;
    }

    .last_works_button img {
        width: 180px;
    }
}

@media (max-width: 860px) {

    /* Main */
    .main_inner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .main_info {
        margin: 20px 20px 0 20px;
        width: 450px;
    }

    .last_works_button {
        margin: 25px;
        display: flex;
        justify-content: center;
    }

    .worker {
        margin: 15px auto;
    }
}

@media (max-width: 490px) {
    .main_info {
        width: 300px;
    }
}